html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
button {
  appearance: none;
  border-radius: 0;
  color: inherit;
  text-decoration: none;
}



*,
*::before,
*::after {
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
}

body {
    background-color: hsl(207, 19%, 9%);
}
